<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nishithkumar.popularmovies" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MovieDetails"
            android:label="@string/title_activity_movie_details"
            android:parentActivityName = ".MainActivity">
        </activity>

        <provider
            android:authorities="com.nishithkumar.popularmovies"
            android:name="com.nishithkumar.popularmovies.data.MovieDataProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:readPermission="com.nishithkumar.popularmovies.data.MovieDataProvide.READ"
            android:writePermission="com.nishithkumar.popularmovies.data.MovieDataProvide.WRITE" />

    </application>

</manifest>
